
<router-outlet></router-outlet>
<h1>Đây là danh sách những cuốn sách của tôi</h1>
<table class="table table-striped table-dark">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Tiêu đề</th>
    <th scope="col">Sửa</th>
    <th scope="col">Xóa</th>
  </tr>
  <tr *ngFor="let book of bookList">
    <td><a [routerLink]="['viewBook',book.id]">{{book.id}}</a></td>
    <td><a [routerLink]="['detail',book.id]">{{book.title}}</a></td>
    <td><a [routerLink]="['edit',book.id]">Sửa</a></td>
    <td><a [routerLink]="['delete',book.id]">Xóa</a></td>
  </tr>
</table>
